.contain {
  width: 1190px;
  margin: auto;
  margin-top: 20px;
  .alert {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 20px;
  }
  .sub_title {
    margin-top: 40px;
  }
  .flex_item {
    :global {
      .ant-form-item-control-input-content {
        display: flex;
      }
      .ant-form-item {
        margin-bottom: 0;
      }
    }
  }
  .check_box {
    line-height: 32px;
  }
  .rent_contain {
    width: 100%;
  }
  .configuration {
    :global {
      .ant-form-item-control-input-content {
        margin-top: 5px;
      }
    }
  }
  .house_pic {
    :global {
      .ant-form-item-control-input-content {
        margin-top: 5px;
      }
    }
  }
  .btn_list {
    text-align: center;
    margin-bottom: 20px;
  }
}
