.authrity {
   margin-bottom: 20px;
}
.btn {
   float: right;
}
.pagination {
   float: right;
   margin-top: 20px;
}

.select_flex {
   display: flex;
   .text {
      margin: 5px 20px 0 0;
   }
   .select {
      flex: 1
   }
}