.banner {
  width: 100%;
  height: 500px;
  background: #1c202b;
  // background-image: url('../../../assets/images/background.png');
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  .star {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite, backgroundmove 16s linear infinite;
  }

  .star.star1 {
    animation-delay: 0;
    background: url(./img/star1.png);
  }
  .star.star2 {
    animation-delay: -1s;
    background: url(./img/star2.png);
  }
  .star.star3 {
    animation-delay: -2s;
    background: url(./img/star3.png);
  }
  .star.star4 {
    animation-delay: -3s;
    background: url(./img/star4.png);
  }
  .star.star5 {
    animation-delay: -4s;
    background: url(./img/star5.png);
  }
  .star.star6 {
    animation-delay: -5s;
    background: url(./img/star6.png);
  }
  .star.star7 {
    animation-delay: -6s;
    background: url(./img/star7.png);
  }
  .star.star8 {
    animation-delay: -7s;
    background: url(./img/star8.png);
  }

  @keyframes animate {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
      opacity: 0;
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      opacity: 1;
    }
  }

  @keyframes backgroundmove {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(2);
    }
  }

  h1,
  h4 {
    color: white;
    margin-bottom: 20px;
  }
  h1 {
    width: 500px;
    font-size: 40px;
  }
  .btn {
    & button:last-child {
      margin-left: 10px;
    }
  }

  .banner_con {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .btn {
      margin-right: 10px;
    }
  }
}

.break {
  display: block;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.06);
}
.introduce {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  h3 {
    text-align: center;
    margin-bottom: 30px !important;
  }
}
.in_con p {
  width: 960px;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}
.feature {
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 40px;
  .pic_list {
    display: flex;
    justify-content: space-around;
    img {
      height: 100px;
      width: 100px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .feature_introduce {
    display: flex;
    justify-content: space-around;
    .feature_item {
      display: flex;
      flex-direction: column;
      width: 250px;
      span {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }
    }
  }
  h3 {
    text-align: center;
    margin-bottom: 30px !important;
  }
}
h1 {
  font-size: 32px;
  line-height: 48px;
  width: 200px;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
}
.pro_list_item {
  float: left;
}
.pro_list_item :hover {
  cursor: pointer;
}
.pro_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.pro_item_dec {
  width: 378px;
  height: 150px;
  border: 1px solid #cccccc;
  border-top-style: none;
}
.pro_item_dec p {
  padding: 10px;
  text-indent: 2em;
  line-height: 22px;
}
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1; /*IE/7/6*/
}
.architecture {
  width: 1190px;
  margin: auto;
  margin-bottom: 40px;
  h3 {
    text-align: center;
    margin-bottom: 30px !important;
  }
}
.architecture img {
  width: 1000px;
  height: 600px;
  margin: auto;
  display: block;
}
