.header-l {
  float: left;
}
.header-w h3 {
  display: inline;
  font-size: 12px;
  color: #ff552e;
  line-height: 35px;
  font-weight: 700;
  margin-right: 10px;
}
.header-w h3:hover {
  cursor: pointer;
}
.header-home h3 {
  padding-left: 25px;
}
.header-home {
  width: 100px;
  float: left;
  margin-left: 10px;
  background: url('../images/home.png') no-repeat left center;
  background-size: 15px;
}
.h-r-icon {
  height: 20px;
  width: 20px;
  float: right;
  background: url('../images/user.png') no-repeat 50% / contain;
  margin-top: 8px;
}
.header-r {
  float: right;
}
.h-r-link {
  display: inline-block;
}
.header-r .gap {
  margin: 0 2px;
}
.search {
  width: 1190px;
  height: 32px;
  margin: 20px auto;
}
.search-h {
  height: 32px;
  line-height: 30px;
}
.s-logo {
  width: 200px;
  height: 40px;
  float: left;
  display: block;
  margin-right: 50px;
  color: #ef6500;
  /* background: url("https://s1.ljcdn.com/matrix_pc/dist/pc/src/resource/img/logo.png?v=1597731258356")
    no-repeat; */
}
.search-input {
  border: 1px solid #cccccc;
  border-right-width: 0;
  width: 300px;
  float: left;
  height: 30px;
  padding: 0 10px;
}
.search-btm {
  height: 32px;
  background: #ef6500;
  color: white;
  font-family: "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Tahoma, Arial, simhei,
    Helvetica, sans-serif;
  padding: 0 10px;
  display: inline-block;
}
.search-opt {
  margin-left: 15px;
  display: inline-block;
}
.search-opt li {
  display: inline-block;
}
.search-opt li a {
  font-weight: 700;
  margin-right: 10px;
}
.search-opt li:first-child {
  font-weight: 700;
}
.realase {
  float: right;
  height: 32px;
  background: #ef6500;
  color: white;
  font: 700 14px/32px Arial, Verdana, "SimSun", "宋体";
  padding: 0 10px;
}
.realase:hover {
  cursor: pointer;
}
.opt-filter {
  position: relative;
  width: 1190px;
  margin: 0 auto;
}
.filter-con {
  width: 1190px;
  margin: 20px auto;
  height: 220px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.con-header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 15px;
}
.area {
  display: inline-block;
  background: url('../images/area.png') no-repeat;
  background-position: left 10px;
  background-size: 18px;
}
.con-header a {
  font-weight: 700;
  margin-left: 25px;
}
.position {
  display: inline-block;
}
.subway {
  display: inline-block;
  background: url('../images/map.png') no-repeat;
  background-position: left 10px;
  background-size: 18px;
  margin-left: 10px;
}
.select::after,
.select::before {
  border: 8px solid transparent;
  border-bottom: 8px solid rgba(250, 250, 250, 1);
  width: 0;
  height: 0;
  position: absolute;
  left: 5px;
  content: " ";
  top: 13px;
}
.select::before {
  border-bottom-color: #e6e6e6;
  top: 12px;
}
.con-option {
  position: relative;
}
.select-all {
  background: rgba(250, 250, 250, 1);
}
.select-ul {
  padding-left: 56px;
}
.select-all ul li {
  display: inline-block;
  margin-right: 15px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
.options {
  height: 30px;
  line-height: 30px;
}
.top {
  margin-top: 10px;
}
.options ul {
  padding-left: 15px;
}
.otption-ul li {
  display: inline-block;
  margin-right: 15px;
}
.otption-ul li:first-child {
  margin-right: 0px;
}
.otption-ul li a {
  position: relative;
  font-weight: 700;
}
.rent-search {
  border: 1px solid #cccccc;
  width: 50px;
  height: 20px;
  padding: 0 10px;
}
.show-result {
  width: 1190px;
  margin: 0 auto;
  font-weight: bold;
}
.show-result span {
  font-size: 16px;
  color: #ef6500;
  vertical-align: middle;
}
.list-check {
  width: 1190px;
  margin: 20px auto;
  font-weight: bold;
  border-bottom: 2px solid #ef6500;
}
.list-check ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}
.list-check a {
  color: black;
}
.checked {
  background: #ef6500;
}
.checked a {
  color: white;
}
.con {
  width: 1190px;
  margin: 0 auto;
}
.con .house-list {
  width: 800px;
  float: left;
}
.house-list-item {
  width: 800px;
  display: flex;
  margin-bottom: 20px;
}
.mid-dec {
  width: 400px;
  margin-left: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.mid-dec h2 {
  font-size: 24px;
  color: black;
}
.mid-dec p {
  margin-top: 10px;
}
.mid-dec button {
  padding: 5px 10px;
  background: #efefef;
  margin-right: 5px;
}
.price {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  color: #ef6500;
}
.pagination {
  width: 300px;
  margin: 0 auto;
}
.house-list .pagination ul li {
  background: #ef6500;
  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  line-height: 10px;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.con .house-recommend {
  width: 390px;
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.wycz {
  height: 180px;
  width: 320px;
  margin: auto;
  margin-bottom: 40px;
}
.cz-banner {
  height: 140px;
  background: url('../images/searchhouse.png') repeat center center;
}
.wycz-btn {
  height: 50px;
  background: #ef6500;
  color: white;
  font: 700 20px/50px Arial, Verdana, "SimSun", "宋体";
  text-align: center;
}
.wycz:hover {
  box-shadow: 0px 0px 10px #000;
  cursor: pointer;
}
.rmfy {
  width: 320px;
  margin: auto;
  color: black;
}
.rmfy h2 {
  margin-bottom: 20px;
}
.hot-house-item {
  width: 320px;
  text-align: center;
  margin-bottom: 20px;
}
.hot-house-item .item-out {
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.hot-house-item p:last-child {
  color: #ef6500;
}
.footer {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #dddddd;
  text-align: center;
}
