.search {
  width: 1190px;
  height: 32px;
  margin: 20px auto;
  a {
    color: #666;
    text-decoration: none;
  } /*去掉超链接的下划线*/
  a:hover {
    color: #1890ff;
  }
}
.search_h {
  height: 32px;
  display: flex;
  justify-content: space-between;
  line-height: 32px;
  .search_l {
    display: inline-block;
    margin-top: -8px;
    span {
      vertical-align: middle;
    }
  }
  .search_btn {
    width: 400px;
    span {
      font-weight: bold;
    }
  }
}
.s_logo {
  width: 200px;
  height: 40px;
  float: left;
  display: block;
  margin-right: 50px;
  color: #ef6500;
}
.search_input {
  border: 1px solid #cccccc;
  border-right-width: 0;
  width: 300px;
  float: left;
  height: 30px;
  padding: 0 10px;
}
ul {
  padding-left: 0;
}
.search_opt {
  margin-left: 15px;
  display: inline-block;
}
.search_opt li {
  display: inline-block;
}
.search_opt li a {
  font-weight: 700;
  margin-right: 10px;
}
.search_opt li:first-child {
  font-weight: 700;
}
.realase {
  float: right;
  font-weight: bold;
}
.realase:hover {
  cursor: pointer;
}
