.contain {
  position: relative;
  .carousel {
    margin: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% 100%;
    &:hover {
      cursor: pointer;
    }
  }
  .top {
    width: 1190px;
    margin: auto;
  }
}

.mask {
  min-width: 1024px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.8);
}

.showImg {
  margin-top: 15.7vh;
  height: 60vh;
  text-align: center;
  img {
    width: 90vh;
  }
}

.img_contain {
  color: white;
  height: 20px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 12px;
  p {
    width: 90vh;
    margin: auto;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.img_list {
  height: 6.6vh;
  overflow: hidden;
  position: relative;
  width: 90vh;
  margin: auto;
  ul {
    position: absolute;
    height: 100%;
    & li:last-child img {
      margin: 0;
    }
  }
  ul li {
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    img {
      margin-right: 10px;
      height: 100%;
    }
  }
}

.row {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 43vh;
  cursor: pointer;
  &:hover {
    color: #1890ff;
  }
}

.left {
  left: 46px;
}
.right {
  right: 46px;
}
.close_label {
  font-size: 30px;
  position: absolute;
  color: white;
  top: 3vh;
  right: 25px;
  cursor: pointer;
  &:hover {
    color: #1890ff;
  }
}
