.carousel {
  margin: auto;
  height: 500px;
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}
.top {
  width: 1190px;
  margin: auto;
  .house_detail {
    margin-bottom: 20px;
  }
}
.facility {
  margin-top: 20px;
}

.desc {
  margin-top: 20px;
}

.faci_list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.faci_list li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #555;
  width: 75px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}
.none i {
  background-position: -2676px -5px;
}
.bed i {
  background-position: -299px 0;
}
.air i {
  background-position: -573px 0;
}
.ward i {
  background-position: -1870px 0;
}
.tv i {
  background-position: -343px 0;
}
.hot_air i {
  background-position: -826px 0;
  width: 36px;
}
.balcony i {
  background-position: -2011px 0;
}
.bathroom i {
  background-position: -2128px 0;
}
.lock i {
  background-position: -2637px -5px;
}
.refrigerator i {
  background-position: -219px 0;
}
.wash_clothes i {
  background-position: -1252px 0;
}
.sofa i {
  background-position: -924px 5px;
}
.range_hood i {
  background-position: -2556px -5px;
}
.cook i {
  background-position: -2597px -5px;
}
.network i {
  background-position: -612px 0;
}
.hotwater i {
  background-position: -854px 0;
}
.gas i {
  background-position: -1973px 0;
}
.icon {
  background: url('../../../assets/images/sprite.png') no-repeat 50%;
  background-size: auto 80px;
  width: 40px;
  height: 40px;
}
