.list_check {
    width: 1190px;
    margin: 20px auto;
    font-weight: bold;
  }
  .list_check ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
  }
  .list_check a {
    color: black;
  }
  .checked {
    background: #ef6500;
  }
  .checked a {
    color: white;
  }
  .con {
    width: 1190px;
    margin: 0 auto;
  }
  .con .house_list {
    width: 800px;
    float: left;
  }
  .house_list_item {
    width: 800px;
    display: flex;
    margin-bottom: 20px;
  }
  .mid_dec {
    width: 400px;
    margin-left: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .mid_dec h2 {
    font-size: 24px;
    color: black;
  }
  .mid_dec p {
    margin-top: 10px;
  }
  .mid_dec button {
    padding: 5px 10px;
    background: #efefef;
    margin-right: 5px;
  }
  .price {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    color: #ef6500;
  }
  .pagination {
    width: 300px;
    margin: 0 auto;
    ul li {
      background: #ef6500;
      display: inline-block;
      color: white;
      padding: 10px;
      border-radius: 3px;
      text-align: center;
      line-height: 10px;
      height: 10px;
      width: 10px;
      margin-right: 10px;
      font-weight: bold;
    }
  }
  .con .house_recommend {
    width: 390px;
    float: left;
  }
  .clearfix::after {
    content: '';
    clear: both;
    display: block;
    height: 0;
  }
  .wycz {
    height: 180px;
    width: 320px;
    margin: auto;
    margin-bottom: 40px;
  }
  .cz_banner {
    height: 140px;
    background: url('../../../../../assets/images/searchhouse.png') repeat center center;
  }
  .wycz_btn {
    height: 50px;
    background: #ef6500;
    color: white;
    font: 700 20px/50px Arial, Verdana, 'SimSun', '宋体';
    text-align: center;
  }
  .wycz:hover {
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
  }
  .rmfy {
    width: 320px;
    margin: auto;
    color: black;
  }
  .rmfy h2 {
    margin-bottom: 20px;
  }
  .hot_house_item {
    width: 320px;
    text-align: center;
    margin-bottom: 20px;
  }
  .hot_house_item .item_out {
    border: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
  }
  
  .hot_house_item p:last-child {
    color: #ef6500;
  }