.contain {
  width: 1190px;
  margin: auto;
  margin-top: 20px;
  .lessor_detail {
    background: #f0f0f0;
    height: 50px;
    padding: 0 20px;
    margin: 20px 0;
    line-height: 50px;
    & span:last-child {
      margin-left: 60px;
      color: red;
    }
  }
  .rent {
    font-size: 30px;
    color: rgb(24, 144, 255);
    font-weight: bold;
  }
  .pay {
    padding: 10px;
  }
  .payway {
    border: 1px solid rgb(24, 144, 255);
  }
  .btn_list {
    text-align: center;
    & button:first-child {
      margin-right: 10px;
    }
  }
  .pay_name {
    width: 80px;
    display: inline-block;
    img {
      height: 30px;
      margin-right: 10px;
    }
  }
  .pay_desc {
    margin-left: 20px;
  }
  .house_title {
    font-size: 20px;
    font-weight: bold;
  }
  .pay_online {
    font-size: 18px;
    display: inline-block;
    margin-top: 6px;
  }
  a {
    display: block;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .pay_money {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: rgb(24, 144, 255);
  }
  .money {
    float: right;
    font-size: 18px;
    font-weight: bold;
  }
  .card {
    :global {
      .ant-card-body {
        position: relative;
      }
    }
  }
  .traced_con {
    position: absolute;
    color: #3dc983;
    right: 20px;
    top: 35px;
  }
  .trace_log {
    height: 40px;
    position: absolute;
    right: 100px;
    top: 30px;
  }
  .total {
    margin: -24px 0 0 5px;
    display: flex;
    align-items: center;
    .desc_num {
      font-size: 20px;
      font-weight: bold;
      display: block;
      margin: -3px 10px 0 0;
    }
  }
}

.paycon {
  position: relative;
  & p:first-child {
    font-size: 20px;
    font-weight: bold;
  }
  & p:nth-child(2) {
    font-size: 18px;
    float: right;
  }
  & p:last-child {
    font-size: 18px;
  }
  .toPay {
    margin: 20px 0;
    font-size: 18px;
  }
}
.pay {
  font-size: 30px;
  color: rgb(24, 144, 255);
  font-weight: bold;
}
