.contain {
  width: 1190px;
  margin: auto;
  .title {
    margin: 20px 0;
  }
  .submit {
    display: block;
    width: 200px;
    margin: auto;
  }
  .divider {
    height: 2px;
    width: 20px;
    background: rgb(221, 221, 221);
    margin: 0 5px;
  }
  .rent_range {
    :global {
      .ant-form-item-label {
        & ::before {
          display: inline-block;
          margin-right: 4px;
          color: rgb(255, 77, 79);
          font-size: 14px;
          font-family: SimSun, sans-serif;
          line-height: 1;
          content: '*';
        }
      }
    }
  }
  .related_house {
    margin: 22px 0;
    .reload {
      float: right;
    }
  }
}

.card {
  :global {
    .ant-card-body {
      position: relative;
    }
  }
  a {
    display: block;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.house_title {
  font-size: 20px;
  font-weight: bold;
}

.trace_log {
  height: 40px;
  position: absolute;
  right: 100px;
  top: 20px;
}

.traced_con {
  position: absolute;
  color: #3dc983;
  right: 20px;
  top: 28px;
}

.money {
  float: right;
  font-size: 18px;
  font-weight: bold;
}
